.placeholder-glow .placeholder {
  animation: placeholder-glow 2s ease-in-out infinite;
}
.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: 0.5;
}
@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}
.placeholder.btn::before {
  display: inline-block;
  content: "";
}