@import './tailwind.pcss';
@import '../components/accordion/index.pcss';
@import '../components/alert/index.pcss';
@import '../components/dropdown/index.pcss';
@import '../components/modal/index.pcss';
@import '../components/offcanvas/index.pcss';
@import '../components/placeholder/index.pcss';
@import '../components/popover/index.pcss';
@import '../components/toast/index.pcss';

.fade:not(.show) {
  @apply opacity-0;
}